<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{{ title|capitalize }}</title>
    <meta name="description" content="An administrator panel" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.blue.min.css"
    />
  </head>
  <body>
    <header>
      <hgroup>
        <h1>{{ title|capitalize }}</h1>
        <p></p>
      </hgroup>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Retour au site</a></li>
          <li><a href="{{ url_for('admin') }}">Personnes</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <table>
          <thead>
            <tr>
              {% for key in data_list[0] %}
                <th>{{ key }}</th>
              {% endfor %}
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for row in data_list %}
              <tr>
                {% for key in row %}
                  {% if key != 'actions' %}
                    <td>{{ row[key] }}</td>
                  {% else %}
                    <td>
                      {% for action in row[key] %}
                        <a href="{{ action.url }}">{{ action.label }}</a>
                      {% endfor %}
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
  </body>
</html>
