{% extends "base.html" %}
{% block title %}Forum{% endblock %}
{% block body %}
  <section class="section">
    <h2 class="title is-2">Poser votre question</h2>
    <form method="post">
      <div class="field">
        <label class="label" for="title">Titre de la question</label>
        <div class="control">
          <input id="title" name="title" class="input" type="text">
        </div>
      </div>
      <div class="field">
        <label class="label" for="body">Corps de la question</label>
        <div class="control">
          <textarea class="textarea" id="body" name="body"></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label" for="tags">Étiquettes</label>
        <div class="control">
          <input id="tags" name="tags" class="input" type="text">
        </div>
      </div>
      <div id="tagsList" class="tags">
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Créer la question</button>
        </div>
      </div>
    </form>
  </section>
    <script>
      const createTagElements = (e) => {
        const tagsText = e.target.value;
        let cleanedTagText = tagsText.replaceAll(',', ' ');
        cleanedTagText = cleanedTagText.replaceAll(';', ' ');
        cleanedTagText = cleanedTagText.replaceAll(/ +/g, ' ');
        e.target.value = cleanedTagText;
        const tagsList = cleanedTagText.split(' ');
        const cleanedtagsList = [...new Set(tagsList)];
        const tagsElementList = cleanedtagsList.map((tagText) => {
          const tagElement = document.createElement('span');
          tagElement.className = 'tag';
          tagElement.innerText = tagText;
          return tagElement;
        });
        const tagsListElement = document.querySelector('#tagsList');
        tagsListElement.replaceChildren(...tagsElementList);
      }
      const tag = document.querySelector('#tags');
      tag.oninput = createTagElements;
    </script>
{% endblock %}
