{% extends "base.html" %}
{% block title %}Forum{% endblock %}
{% block body %}
<section class="hero is-success is-halfheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">Forum</p>
      <p class="subtitle">Questions et réponses</p>
      <a class="button" href="{{ url_for('questions_get') }}">Voir les questions posées</a>
      <a class="button" href="{{ url_for('ask_get') }}">Poser une question</a>
    </div>
  </div>
</section>
{% endblock %}
