{% extends "base.html" %}
{% block title %}Questions{% endblock %}
{% block body %}
  <section class="section">
    <div class="container">
      <h2 class="title">Liste des questions</h2>
    </div>
    <nav class="container has-text-right">
      <a href="{{ request.url + '/../Newest' }}">Plus récent </a>/
      <a href="{{ request.url + '/../Votes' }}"> Plus voté</a>
    </nav>
    {% for question in questions %}
      <div class="container block">
      {% if question.title %}
        <a class="is-size-2"href="{{ url_for('question_get', id=question.question_id)}}">{{ question.title }}</a>
      {% else %}
        <a class="is-size-2"href="{{ url_for('question_get', id=question.question_id)}}"><em>Le titre supprimé par un administrateur.</em></a>
      {% endif %}
      </div>
    {% endfor %}
  </section>
{% endblock %}
