<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <header class="container">
      <hgroup>
      <h1 class="title is-1">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
      </hgroup>
    </header>
  </section>
  <section class="section">
    <div class="container">
      <a href="/" class="button is-link is-light">Retour</a>
    </div>
    <div class="container block">
      <h2 class="title is-2">{{ question.title }}</h2>
      <p class="content">{{ question.text }}</p>
      <footer>
        <small>
          <p>Demandé le {{ question.create_date }}</p>
          <p><strong>{{ question.firstname }} {{ question.lastname }}</strong></p>
        </small>
      </footer>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h3 class="title is-3">Réponses</h3>
      {% for answer in answers %}
        <article class="box">
          <p class="content">{{ answer.text }}</p>
          <footer>
            <small>
              <p>Répondu le {{ answer.create_date }}</p>
              <p><strong>{{ answer.firstname }} {{ answer.lastname }}</strong></p>
            </small>
          </footer>
        </article>
      {% endfor %}
    </div>
  </section>
  <section class="section">
    <div class="container">
      <form method="post">
        <div class="field">
          <label for="answer" class="label title is-3">Votre réponse</label>
          <div class="control">
            <textarea id="answer" class="textarea" name="answer"></textarea>
          </div>
        </div>
        <input class="button is-link" type="submit">
      </form>
    </div>
  </section>
  </body>
</html>
